<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application android:theme="@style/Theme.Exhibition">

        <activity
            android:name=".presentation.activity.TestActivity"
            android:exported="true" />
    </application>


</manifest>